---
layout: landing-page
title: Thomas Wilson
tagline: Process Engineer
navigation_weight: 1
---		
		<!-- Main -->
			<article id="main">
				<header class="special container">
					<span class="icon fa-bar-chart-o"></span>
					
					<h2>This site was created to be an example of my work as well as showcase my interests and projects.</h2>
               <img class="portrait" src="{{ site.baseurl }}/assets/images/thumbnails/thumb.me.jpg" alt="Hi!">

					<p>My name is Thomas Wilson.
					<br /> 
					I'm an Engineer living in Houston, TX. 
					<br />
					I've worked in the semiconductor industry since 2011.
					<br /> 
					I am passionate about data analysis and visualization.</p>
				</header>
					
				<!-- One -->
					<section class="wrapper style2 container special-alt">
						<div class="row half">
							<div class="8u">
							
								<header>
									<h2>I solve interesting problems with the tools at hand</h2>
								</header>
								<p>I worked at Samsung in Austin, TX in the <a href="https://en.wikipedia.org/wiki/Dry_etching">Dry Etch</a>  Department. Etching patterns into silicon wafers in order to create functioning <a href="https://en.wikipedia.org/wiki/Integrated_circuit#SSI.2C_MSI_and_LSI">LSI</a> microchips for mobile applications. </p>
								<footer>
									<ul class="buttons">
										<li><a href="{{ site.baseurl }}/resume.html" class="button">Resume</a></li>
									</ul>
								</footer>
							
							</div>
							<div class="4u skel-cell-important">
							
								<ul class="featured-icons">
									<li><span class="icon fa-flask"><span class="label">Feature 2</span></span></li>
									<li><span class="icon fa-cogs"><span class="label">Feature 6</span></span></li>
									<li><span class="icon fa-usd"><span class="label">Feature 1</span></span></li>
									<li><span class="icon fa-linux"><span class="label">Feature 5</span></span></li>
									<li><span class="icon fa-coffee"><span class="label">Feature 3</span></span></li>
									<li><span class="icon fa-music"><span class="label">Feature 4</span></span></li>
								</ul>
							
							</div>				
						</div>
					</section>
					
				<!-- Two 
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u">							
								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Problem Solving</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Leadership</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<span class="icon featured fa-check"></span>
									<header>
										<h3>Project Management</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
								</section>
							
							</div>
						</div>
					</section>
					-->
					
				<!-- Three -->
					<section class="wrapper style3 container special"  id="recent">
					
						<header class="major">
							<h2>Recent Posts</h2>
						</header>
						
												
						{% assign postsNum = 3 %}
						{% for p in site.posts limit: 6 %}
						{% assign n = postsNum | modulo: 2 %}
	{% if n > 0 %} <div class="row"> {% endif %}
							<div class="6u">
								<section>
									<a href="{{ site.baseurl }}{{ p.url }}" ><img src="{{ site.baseurl }}{{ p.thumbnail }}" alt="" /></a>
									<header>
										<h3>{{ p.title }}</h3>
									</header>
									<p>{{ p.exerpt }}</p>
								</section>
						  </div>
   {% if n == 0 %} </div> {% endif %}				
                  {% assign postsNum = postsNum | plus: 1 %}
	               {% endfor %}

						<footer class="major">
							<ul class="buttons">
								<li><a href="{{ site.baseurl }}/chronological.html" class="button">See More</a></li>
							</ul>
						</footer>
					
					</section>
					
			</article>

		<!-- CTA -->
			<section id="cta">
			
				<header id="hire">
					<h2>hire me</h2>
				</header>
				<footer>
					<ul class="buttons">
						<li><a href="mailto:tom.andrew.wilson@gmail.com" class="button special">email</a></li>
						<li><a href="{{ site.baseurl }}/resume.html" class="button">resume</a></li>
					</ul>
				</footer>
			
			</section>
