<header id="header">
				<h1 id="logo"><a href="/">Wilsonify <span>by Thomas Wilson</span></a></h1>
				<nav id="nav">
					<ul>
            {% assign navigation_pages=site.html_pages | sort: 'navigation_weight' %}
            {% for p in navigation_pages %}
              {% if p.navigation_weight %}
                <li> <a href="{{ site.baseurl }}{{ p.url }}"
                 {% if  p.url == page.url %}
                 class="button special"
                 {% endif %}
                 >{{ p.title }}</a> </li>
              {% endif %}
            {% endfor %}
						
						<li class="submenu">
							<a href="">Categories</a>
							<ul>
							  {% for c in site.categories %}
							  <li class="submenu">
							    <a href="{{ site.baseurl }}/{{ c[0] }}">{{ c[0] }}</a>
   							  <ul>
   							    {% for p in c[1] %}
										  <li><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
										{% endfor %}
									</ul>
								</li>
						    {% endfor %}
						  </ul>
						</li>    
						
						<li class="submenu">
							<a href="">Tags</a>
							<ul>
							  {% for t in site.tags %}
							  <li class="submenu">
							    <a href="{{ site.baseurl }}/{{ t[0] }}">{{ t[0] }}</a>
   							  <ul>
   							    {% for p in t[1] %}
										  <li><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
										{% endfor %}
									</ul>
								</li>
						    {% endfor %}   
					    </ul>
					  </li>  

					</ul>
				</nav>
			</header>
